/* Utilities */
/* .navbar {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  background-color: violet;
} */

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-styling {
  font-family: "PT Sans", sans-serif;
  line-height: 1.6;
}

body {
  font-family: "Inter", sans-serif;
}

/* Navigation Styles */
.navbar {
  width: 1920px;
  height: 100px;
  background-color: #f8f3fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
}

.logo,
.page-links ul li a,
.signin {
  color: #000;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-size: 34px;
  font-weight: 800;
}

.page-links {
  width: 604px;
}

.page-links ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.page-links ul li {
  margin-right: 25px;
}

.page-links ul li:last-child {
  margin-right: 0;
}

.page-links ul li a {
  text-decoration: none;
}

/* Navigation Right Link Styles */
.signs {
  width: 210px;
}

.signs a {
  margin-right: 24px;
}

.signin,
.signup {
  text-decoration: none;
}

.signup {
  width: 125px;
  background-color: #60269e;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
}

/* HERO SECTION */
.hero {
  width: 1920px;
  height: 837px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.hero-inner {
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-link1 {
  padding: 8px 16px;
  border: 1px solid #60269e;
  font-weight: 400;
  border-radius: 24px;
  text-decoration: none;
  color: #000;
  margin-bottom: 16px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.hero-text h1 {
  width: 900px;
  /* height: 146px; */
  font-size: 75px;
  font-weight: 700;
  color: #0d0b32;
  line-height: 1.01;
  margin-bottom: 24px;
  text-align: center;
}

.hero-text p {
  font-size: 24px;
  width: 728px;
  text-align: center;
}

.hero-link2 {
  background-color: #60269e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 16px;
  text-decoration: none;
}

/* TESTIMONIAL STYLES */
.testimonial {
  background-color: #f7f0ff;
  width: 1920px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 225px 93px 225px;
}

.testimonial-title {
  width: 884px;
  font-size: 36px;
  font-weight: 700;
  color: #0d0b32;
  text-align: center;
  margin-bottom: 32px;
}

.testimonial-stats {
  width: 1022px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.testimonial-stat-img {
  width: 50px;
  height: 50px;
}

.testimonial-stats-details {
  width: 177px;
  height: 50px;
}

.testimonial-stats-details .number {
  color: #0d0b32;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1.2%;
}

.testimonial-stats-details .text {
  color: #5e00d0;
  font-size: 14px;
  font-weight: 700;
}

/* OUR STORY */
.our-story {
  width: 1920px;
  height: 732px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-story-inner {
  width: 1413px;
  display: flex;
  justify-content: space-around;
}

.our-story-text {
  /* width: 478px; */
  width: 500px;
  align-self: flex-start;
}

.our-story-text h2 {
  font-size: 47px;
  font-weight: 700;
  color: #0d0b32;
  margin-bottom: 32px;
}

.our-story-text .our-story-text-para1 {
  font-weight: 700;
  font-size: 26px;
  width: 478px;
}

.our-story-text p {
  line-height: 1.6;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px;
}

.africa {
  color: #5e00d0;
}

.para {
  color: #444;
}

.our-story-image img {
  width: 572px;
  height: 500px;
  border-radius: 20px;
}

/* COMMITMENT SECTION */
.commitment {
  width: 1920px;
  height: 732px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.commitment h2 {
  /* width: 369px; */
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 48px;
}

.commitment-content {
  width: 1150.04px;
  height: 440.59px;
  background-color: #f7f0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.commitment-content img {
  width: 65.75px;
  height: 65.74px;
  margin-bottom: 32px;
}

.commitment-content-title {
  /* width: 366px; */
  font-size: 31.4px;
  font-weight: 700;
  margin-bottom: 32px;
}

.commitment-content-text {
  width: 779.12px;
  font-size: 23.55px;
  font-weight: 400;
  color: #444;
}

.commitment-content .btn {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  position: absolute;
}

.btn--left {
  left: 0;
  transform: translate(-30px, 0);
}

.btn--right {
  right: 0;
  transform: translate(30px, 0);
}

.commitment-content .btn-icon {
  width: 24px;
  height: 24px;
  stroke: #000;
}

/* CALL TO ACTION SECTION */
.call-action {
  width: 1920px;
  /* height: 1506px; */
  background-color: #f7f0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 150px 0;
}

.call-action-sec1 {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-bottom: 128px;
}

.call-action-sec1-left {
  width: 562px;
}

.call-action-sec1-left h2 {
  width: 455px;
  font-size: 45px;
  font-weight: 700;
  color: #000;
  line-height: 1.3;
  margin-bottom: 32px;
}

.call-action-sec1-left ul {
  padding-left: 32px;
}

.call-action-sec1-left p {
  font-size: 24px;
  font-weight: 400;
}

.call-action-sec2 {
  background: #60269e;
  width: 1506px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
  color: #fff;
  border-radius: 30px;
}

.call-action-sec2-right {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: -1;
  position: relative;
  padding-top: 100px;
  z-index: 10;
}

.call-action-sec2-right .img1 {
  width: 159px;
  height: 179px;
  position: absolute;
  top: 0;
  right: 55px;
}

.call-action-sec2-right .img2 {
  /* width: 593px; */
  width: 100%;
  height: 538px;
  border-radius: 20px;
  align-self: self-end;
  z-index: 2;
}

.call-action-sec2-right .img3 {
  width: 200px;
  height: 139px;
  transform: translate(30px, 20px) rotate(-10deg);
  stroke: #ddb8924d;
  position: absolute;
  left: -180px;
  bottom: -30px;
  z-index: 5;
}

.call-action-sec2 img {
  width: 1506px;
  height: 525px;
}

.call-action-section2-left {
  width: 428px;
  height: 355px;
}

.call-action-section2-left h2 {
  font-size: 45px;
  line-height: 1.1;
  margin-bottom: 48px;
}

.call-action-section2-left p {
  width: 430px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1.4;
  margin-bottom: 32px;
}

.call-action-section2-left button {
  width: 160px;
  height: 65px;
  border: 3px solid #fff;
  border-radius: 8px;
  padding: 10px 20px;
  color: #fff;
  background-color: #60269e;
  font-size: 20px;
}

.call-action-section2-right img {
  width: 688.68px;
  height: 305px;
}

/* OUR TEAM */
.our-team {
  width: 1920px;
  height: 766px;
  background-color: #f8f3fd;
  border: 3px solid red;

  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.our-team-top {
  text-align: center;
}

.our-team-top h2 {
  font-size: 45px;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.02px;
  margin-bottom: 16px;
}

.our-team-top p {
  width: 575px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.our-team-members {
  width: 1200px;
  height: 316px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.team-member {
  width: 276px;
  height: 316px;
  border: 2px solid green;
  padding: 8px 16px;
  border-radius: 14px;
  border: 1px solid #808080;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 12px 0;
}

.team-member h3 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}

.team-member span {
  color: #6941c6;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-top: 0;
  margin-bottom: 8px;
}

.team-member p {
  width: 200px;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 18px;
}

.media-icon {
  margin-right: 12px;
}
